<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FeelFlow 회원 가입</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../signup.css" />
</head>
<body>
<header style="height: 100px; display: flex; justify-content: space-between; align-items: center;">
  <h2>FeelFlow</h2>
</header>
<div class="form-container">
  <form class="join_member" th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
    <div class="form-header">
      <h1>회원가입</h1>
      <hr style="border-top: 3px solid #074635;"><br>
    </div>
    <div class="form-body">
      <span class="mini-title">*아이디</span>
      <div class="textbox">
        <span class="icon"><img class="icon" src="../imgsrc/user.png" alt="User icon"></span>
        <input type="text" th:field="*{username}" placeholder="아이디를 입력해주세요" required>
      </div>
      <span class="mini-title">*비밀번호</span>
      <div class="textbox">
        <span class="icon"><img class="icon" src="../imgsrc/lock.png" alt="Lock icon"></span>
        <input type="password" th:field="*{password1}" placeholder="비밀번호 입력 (문자, 숫자, 특수문자 포함 8~20자)" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,20}$">
      </div>
      <span class="mini-title">*비밀번호 확인</span>
      <div class="textbox">
        <span class="icon"><img class="icon" src="../imgsrc/lock.png" alt="Lock icon"></span>
        <input type="password" th:field="*{password2}" placeholder="비밀번호를 다시 입력해주세요" required>
      </div>
      <span class="mini-title">*이메일</span>
      <div class="textbox">
        <span class="icon"><img class="icon" src="../imgsrc/message.png" alt="Email icon"></span>
        <input type="email" th:field="*{email}" placeholder="이메일 주소" required>
      </div>
      <span class="mini-title">*닉네임</span>
      <div class="textbox">
        <span class="icon"><img class="icon" src="../imgsrc/user.png" alt="User icon"></span>
        <input type="text" th:field="*{nickname}" placeholder="닉네임을 입력해주세요" required>
      </div><br>
      <hr style="border: 1px solid #5fa37a; opacity: 0.5;"><br>
      <div class="horizon_align">
        <div class="horizon_child">
          <span class="mini-title">이름</span>
          <div class="textbox">
            <input type="text" th:field="*{name}" placeholder="이름을 입력해주세요">
          </div>
        </div>
        <div class="horizon_child">
          <span class="mini-title">생년월일</span>
          <div class="textbox">
            <input type="date" th:field="*{birthday}">
          </div>
        </div>
      </div>
      <span class="mini-title">성별</span>
      <ul class="gender_list" id="listIdentifyGender">
        <li>
          <input type="radio" th:field="*{gender}" id="none" value="none" checked>
          <label for="none">선택안함</label>
        </li>
        <li>
          <input type="radio" th:field="*{gender}" id="male" value="male">
          <label for="male">남성</label>
        </li>
        <li>
          <input type="radio" th:field="*{gender}" id="female" value="female">
          <label for="female">여성</label>
        </li>
      </ul>
      <br><hr style="border: 1px solid #5fa37a; opacity: 0.5;">
      <button type="submit">회원가입</button>
    </div>
  </form>
</div>
</body>
</html>